### Hugo ###
/public/
/resources/_gen/

node_modules
static/admin/.gitignore
.tina/__generated__/_graphql.json
.tina/__generated__/_lookup.json
.tina/__generated__/_schema.json
.tina/__generated__/.gitignore
