{{ define "main" }}

<article class="post-20 page type-page status-publish has-post-thumbnail hentry" id="post-20">
  {{ with .Site.Params.banner.heading }}
  <header class="entry-header has-text-align-center header-footer-group">
    <div class="entry-header-inner section-inner medium">
      <h1 class="entry-title">{{ . | markdownify }}</h1>
    </div>
  </header>
  {{ end }}

  <div class="post-inner thin">
    <div class="entry-content">
      {{ $categories := .Site.Taxonomies.categories }}
      {{ range $name, $taxonomy := $categories }}
      {{ if in $.Site.Params.blog.categories $name }}
      <h2 class="has-text-align-center">{{ humanize $name | title }}</h2>
      <div class="wp-block-columns columns alignwide">
        {{ range $taxonomy.Pages }}
        <div class="column">
          <div class="wp-block-group">
            <div class="wp-block-group__inner-container">
              <h3>{{ .Title }}</h3>
              <p>{{ .PublishDate.Format "January 02, 2006"}}</p>
              <div class="wp-block-button is-style-outline"><a class="wp-block-button__link"
                  href="{{ .Permalink }}">Read More</a></div>
            </div>
          </div>
        </div>
        {{ end }}
      </div>
      {{ end }}
      {{ end }}

      {{ if .Site.Params.call_to_action.enable }}
      {{ with .Site.Params.call_to_action }}
      <div class="wp-block-group alignwide has-background" style="background-color:#ffffff">
        <div class="wp-block-group__inner-container">
          <div class="wp-block-group">
            <div class="wp-block-group__inner-container">
              <h2 class="has-text-align-center">{{ .title | markdownify }}</h2>
              <p class="has-text-align-center">{{ .content | markdownify }}</p>
              <div class="wp-block-button aligncenter"><a class="wp-block-button__link"
                  href="{{ .button_url | absURL }}">{{ .button_label }}</a></div>
            </div>
          </div>
        </div>
      </div>
      {{ end }}
      {{ end }}

    </div><!-- .entry-content -->
  </div><!-- .post-inner -->
</article>

{{ end }}